In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [65]:
df1 = pd.read_csv('../datasets/pbp-2023.csv')
df2 = pd.read_csv('../datasets/pbp-2022.csv')
df3 = pd.read_csv('../datasets/pbp-2021.csv')
df4 = pd.read_csv('../datasets/pbp-2020.csv')
df5 = pd.read_csv('../datasets/pbp-2019.csv')
df6 = pd.read_csv('../datasets/pbp-2018.csv')

In [52]:
df1 = df1[(df1['OffenseTeam']  == 'KC') | (df1['DefenseTeam']  == 'KC') | (df1['OffenseTeam']  == 'SF') | (df1['DefenseTeam']  == 'SF')]
df2 = df2[(df2['OffenseTeam']  == 'PHI') | (df2['DefenseTeam']  == 'PHI') | (df2['OffenseTeam']  == 'KC') | (df2['DefenseTeam']  == 'KC')]
df3 = df3[(df3['OffenseTeam']  == 'LA') | (df3['DefenseTeam']  == 'LA') | (df3['OffenseTeam']  == 'CIN') | (df3['DefenseTeam']  == 'CIN')]
df4 = df4[(df4['OffenseTeam']  == 'KC') | (df4['DefenseTeam']  == 'KC') | (df4['OffenseTeam']  == 'TB') | (df4['DefenseTeam']  == 'TB')]
df5 = df5[(df5['OffenseTeam']  == 'KC') | (df5['DefenseTeam']  == 'KC') | (df5['OffenseTeam']  == 'SF') | (df5['DefenseTeam']  == 'SF')]
df6 = df6[(df6['OffenseTeam']  == 'NE') | (df6['DefenseTeam']  == 'NE') | (df6['OffenseTeam']  == 'LA') | (df6['DefenseTeam']  == 'LA')]

In [55]:
df_train = pd.concat([df2,df3, df4, df5, df6], ignore_index=True)
df_train = df_train.drop(['Unnamed: 10','Unnamed: 12','Unnamed: 16','Unnamed: 17', 'Description','NextScore','TeamWin','Challenger','IsMeasurement',], axis = 1)

In [54]:
df_train_final = df_train[df_train[['OffenseTeam', 'DefenseTeam']].notna().all(axis=1)]
df_train_final

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2022091110,2022-09-11,1,11,11,KC,ARI,2,7,73,...,0,0,CENTER,27,OPP,0,NaN,0,NaN,0
1,2022091110,2022-09-11,1,10,28,KC,ARI,3,7,73,...,0,0,NaN,27,OPP,0,NaN,0,NaN,0
2,2022091110,2022-09-11,1,9,47,KC,ARI,1,9,91,...,0,0,NaN,9,OPP,0,NaN,0,NaN,0
3,2022091110,2022-09-11,1,3,24,KC,ARI,1,3,97,...,0,0,NaN,3,OPP,0,NaN,0,NaN,0
4,2022091110,2022-09-11,1,3,20,KC,ARI,0,0,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25074,2018091612,2018-09-16,3,6,0,JAX,NE,2,4,36,...,0,0,NaN,36,OWN,0,NaN,0,NaN,0
25075,2018091609,2018-09-16,2,14,37,LA,ARI,2,1,89,...,0,0,RIGHT END,11,OPP,0,NaN,0,NaN,0
25076,2018091001,2018-09-10,2,0,0,NaN,LA,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
25077,2018091001,2018-09-10,2,2,0,NaN,LA,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
25078,2018091001,2018-09-10,2,3,15,NaN,LA,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0