In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
df_test = pd.read_csv('../datasets/pbp-2023.csv')
df2 = pd.read_csv('../datasets/pbp-2022.csv')
df3 = pd.read_csv('../datasets/pbp-2021.csv')
df4 = pd.read_csv('../datasets/pbp-2020.csv')
df5 = pd.read_csv('../datasets/pbp-2019.csv')
df6 = pd.read_csv('../datasets/pbp-2018.csv')

In [36]:
df_train = pd.concat([df2,df3, df4, df5, df6], ignore_index=True)
df_train = df_train.drop(['Unnamed: 10','Unnamed: 12','Unnamed: 16','Unnamed: 17'], axis = 1)

In [37]:
df_train_filter = df_train[(df_train['OffenseTeam']  == 'KC') | (df_train['DefenseTeam']  == 'KC') | (df_train['OffenseTeam']  == 'SF') | (df_train['DefenseTeam']  == 'SF')]

In [41]:
df_train_final = df_train_filter[df_train_filter.notna().any(axis=1)]
df_train_final

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
46,2022091110,2022-09-11,1,11,11,KC,ARI,2,7,73,...,0,0,CENTER,27,OPP,0,NaN,0,NaN,0
47,2022091110,2022-09-11,1,10,28,KC,ARI,3,7,73,...,0,0,NaN,27,OPP,0,NaN,0,NaN,0
48,2022091110,2022-09-11,1,9,47,KC,ARI,1,9,91,...,0,0,NaN,9,OPP,0,NaN,0,NaN,0
49,2022091110,2022-09-11,1,3,24,KC,ARI,1,3,97,...,0,0,NaN,3,OPP,0,NaN,0,NaN,0
50,2022091110,2022-09-11,1,3,20,KC,ARI,0,0,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214760,2018090908,2018-09-09,4,1,57,NaN,KC,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
214761,2018090908,2018-09-09,2,7,8,KC,LAC,2,7,28,...,0,0,RIGHT END,28,OWN,0,NaN,0,NaN,0
214762,2018090908,2018-09-09,1,0,25,NaN,KC,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
214766,2018090904,2018-09-09,2,0,6,NaN,SF,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
214770,2018090904,2018-09-09,1,0,0,NaN,SF,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0

array([0], dtype=int64)