In [384]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [385]:
df1 = pd.read_csv('../datasets/pbp-2023.csv')
df2 = pd.read_csv('../datasets/pbp-2022.csv')
df3 = pd.read_csv('../datasets/pbp-2021.csv')
df4 = pd.read_csv('../datasets/pbp-2020.csv')
df5 = pd.read_csv('../datasets/pbp-2019.csv')
df6 = pd.read_csv('../datasets/pbp-2018.csv')

In [386]:
df1 = df1[(df1['OffenseTeam']  == 'KC') | (df1['DefenseTeam']  == 'KC') | (df1['OffenseTeam']  == 'SF') | (df1['DefenseTeam']  == 'SF')]
df2 = df2[(df2['OffenseTeam']  == 'PHI') | (df2['DefenseTeam']  == 'PHI') | (df2['OffenseTeam']  == 'KC') | (df2['DefenseTeam']  == 'KC')]
df3 = df3[(df3['OffenseTeam']  == 'LA') | (df3['DefenseTeam']  == 'LA') | (df3['OffenseTeam']  == 'CIN') | (df3['DefenseTeam']  == 'CIN')]
df4 = df4[(df4['OffenseTeam']  == 'KC') | (df4['DefenseTeam']  == 'KC') | (df4['OffenseTeam']  == 'TB') | (df4['DefenseTeam']  == 'TB')]
df5 = df5[(df5['OffenseTeam']  == 'KC') | (df5['DefenseTeam']  == 'KC') | (df5['OffenseTeam']  == 'SF') | (df5['DefenseTeam']  == 'SF')]
df6 = df6[(df6['OffenseTeam']  == 'NE') | (df6['DefenseTeam']  == 'NE') | (df6['OffenseTeam']  == 'LA') | (df6['DefenseTeam']  == 'LA')]

In [387]:
df_train = pd.concat([df2,df3, df4, df5, df6], ignore_index=True)
df_train = df_train.drop(['Unnamed: 10','Unnamed: 12','Unnamed: 16','Unnamed: 17', 'Description','NextScore','TeamWin','Challenger','IsMeasurement','YardLineDirection','YardLineFixed'], axis = 1)

df_test = df1.drop(['Unnamed: 10','Unnamed: 12','Unnamed: 16','Unnamed: 17', 'Description','NextScore','TeamWin','Challenger','IsMeasurement','YardLineDirection','YardLineFixed'], axis = 1)

In [388]:
df_train_final = df_train[df_train[['OffenseTeam', 'DefenseTeam']].notna().all(axis=1)]

df_train_final

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsFumble,IsPenalty,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2022091110,2022-09-11,1,11,11,KC,ARI,2,7,73,...,0,0,0,0,CENTER,0,NaN,0,NaN,0
1,2022091110,2022-09-11,1,10,28,KC,ARI,3,7,73,...,0,0,0,0,NaN,0,NaN,0,NaN,0
2,2022091110,2022-09-11,1,9,47,KC,ARI,1,9,91,...,0,0,0,0,NaN,0,NaN,0,NaN,0
3,2022091110,2022-09-11,1,3,24,KC,ARI,1,3,97,...,0,0,0,0,NaN,0,NaN,0,NaN,0
4,2022091110,2022-09-11,1,3,20,KC,ARI,0,0,85,...,0,0,0,0,NaN,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25064,2018101412,2018-10-14,3,6,14,KC,NE,4,1,46,...,0,0,0,0,RIGHT TACKLE,0,NaN,0,NaN,0
25070,2018093006,2018-09-30,1,5,28,NE,MIA,0,0,35,...,0,0,0,0,NaN,0,NaN,0,NaN,0
25073,2018092313,2018-09-23,1,9,18,DET,NE,1,10,52,...,0,0,0,0,NaN,0,NaN,0,NaN,0
25074,2018091612,2018-09-16,3,6,0,JAX,NE,2,4,36,...,1,0,0,0,NaN,0,NaN,0,NaN,0
25075,2018091609,2018-09-16,2,14,37,LA,ARI,2,1,89,...,0,0,0,0,RIGHT END,0,NaN,0,NaN,0

In [389]:
df_test_final = df_test[df_test[['OffenseTeam', 'DefenseTeam']].notna().all(axis=1)]

df_test_final

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsFumble,IsPenalty,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
69,2023121009,2023-12-10,4,0,25,BUF,KC,2,11,53,...,0,0,0,0,NaN,0,NaN,0,NaN,0
70,2023121009,2023-12-10,4,0,55,BUF,KC,1,10,54,...,0,0,0,0,NaN,0,NaN,0,NaN,0
71,2023121009,2023-12-10,4,1,1,KC,BUF,0,0,100,...,0,0,0,0,NaN,0,NaN,0,NaN,0
72,2023121009,2023-12-10,4,1,1,KC,BUF,0,0,100,...,0,0,0,0,NaN,0,NaN,0,NaN,0
73,2023121009,2023-12-10,4,1,25,KC,BUF,2,10,51,...,0,1,0,0,NaN,1,KC,1,OFFENSIVE OFFSIDE,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39440,2023091006,2023-09-10,4,2,52,PIT,SF,1,10,70,...,0,0,0,0,NaN,0,NaN,0,NaN,0
39441,2023091006,2023-09-10,3,0,0,SF,PIT,0,0,100,...,0,0,0,0,NaN,0,NaN,0,NaN,0
39453,2023091006,2023-09-10,1,0,0,SF,PIT,0,0,100,...,0,0,0,0,NaN,0,NaN,0,NaN,0
39454,2023091006,2023-09-10,1,3,5,PIT,SF,0,0,100,...,0,0,0,0,NaN,0,NaN,0,NaN,0
39471,2023090700,2023-09-07,3,12,54,KC,DET,0,0,100,...,0,0,0,0,NaN,0,NaN,0,NaN,0

- Add the winners for each game into the main dataframe as a new column

In [390]:
df_18 = pd.read_csv("..\datasets\win-loss-score-2018-season.csv")
df_19 = pd.read_csv("..\datasets\win-loss-score-2019-season.csv")
df_20 = pd.read_csv("..\datasets\win-loss-score-2020-season.csv")
df_21 = pd.read_csv("..\datasets\win-loss-score-2021-season.csv")
df_22 = pd.read_csv("..\datasets\win-loss-score-2022-season.csv")
df_23 = pd.read_csv("..\datasets\win-loss-score-2023-season.csv")

- Drop the unneeded columns from the dataframe

In [391]:
df_18.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_19.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_20.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_21.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_22.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_23.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)

- Pull out all of the games where the superbowl teams won

In [392]:
df_18 = df_18[(df_18['Winner/tie']  == 'New England Patriots') | (df_18['Loser/tie']  == 'New England Patriots') | (df_18['Winner/tie']  == 'Los Angeles Rams') | (df_18['Loser/tie']  == 'Los Angeles Rams')]

df_19 = df_19[(df_19['Winner/tie']  == 'Kansas City Chiefs') | (df_19['Loser/tie']  == 'Kansas City Chiefs') | (df_19['Winner/tie']  == 'San Francisco 49ers') | (df_19['Loser/tie']  == 'San Francisco 49ers')]

df_20 = df_20[(df_20['Winner/tie']  == 'Kansas City Chiefs') | (df_20['Loser/tie']  == 'Kansas City Chiefs') | (df_20['Winner/tie']  == 'Tampa Bay Buccaneers') | (df_20['Loser/tie']  == 'Tampa Bay Buccaneers')]

df_21 = df_21[(df_21['Winner/tie']  == 'Los Angeles Rams') | (df_21['Loser/tie']  == 'Los Angeles Rams') | (df_21['Winner/tie']  == 'Cincinnati Bengals') | (df_21['Loser/tie']  == 'Cincinnati Bengals')]

df_22 = df_22[(df_22['Winner/tie']  == 'Philadelphia Eagles') | (df_22['Loser/tie']  == 'Philadelphia Eagles') | (df_22['Winner/tie']  == 'Kansas City Chiefs') | (df_22['Loser/tie']  == 'Kansas City Chiefs')]

df_23_winner = df_23[(df_23['Winner/tie']  == 'San Francisco 49ers') | (df_23['Loser/tie']  == 'San Francisco 49ers') | (df_23['Winner/tie']  == 'Kansas City Chiefs') | (df_23['Loser/tie']  == 'Kansas City Chiefs')]

all_winners = pd.concat([df_18, df_19, df_20, df_21, df_22], ignore_index=True)

all_winners

,Week,Day,Date,Time,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL
0,1,Sun,2018-09-09,1:00PM,New England Patriots,Houston Texans,27,20,389,3,325,2
1,1,Mon,2018-09-10,10:20PM,Los Angeles Rams,Oakland Raiders,33,13,365,0,395,3
2,2,Sun,2018-09-16,4:05PM,Los Angeles Rams,Arizona Cardinals,34,0,432,1,137,1
3,2,Sun,2018-09-16,4:25PM,Jacksonville Jaguars,New England Patriots,31,20,480,2,302,1
4,3,Sun,2018-09-23,4:05PM,Los Angeles Rams,Los Angeles Chargers,35,23,521,2,356,2
...,...,...,...,...,...,...,...,...,...,...,...,...
158,16,Sat,2022-12-24,4:25PM,Dallas Cowboys,Philadelphia Eagles,40,34,419,1,442,4
159,17,Sun,2023-01-01,1:00PM,Kansas City Chiefs,Denver Broncos,27,24,374,2,307,2
160,17,Sun,2023-01-01,1:00PM,New Orleans Saints,Philadelphia Eagles,20,10,313,1,313,1
161,18,Sat,2023-01-07,4:30PM,Kansas City Chiefs,Las Vegas Raiders,31,13,349,0,279,2
162,18,Sun,2023-01-08,4:25PM,Philadelphia Eagles,New York Giants,22,16,342,1,284,0

- To make the update on the winner column easier and workable, we need to map the values of each team to their abbreviations.

In [393]:
# Dictionary mapping full team names to abbreviations
team_name_to_abbreviation = {
    'Arizona Cardinals': 'ARI',
    'Atlanta Falcons': 'ATL',
    'Baltimore Ravens': 'BAL',
    'Buffalo Bills': 'BUF',
    'Carolina Panthers': 'CAR',
    'Chicago Bears': 'CHI',
    'Cincinnati Bengals': 'CIN',
    'Cleveland Browns': 'CLE',
    'Dallas Cowboys': 'DAL',
    'Denver Broncos': 'DEN',
    'Detroit Lions': 'DET',
    'Green Bay Packers': 'GB',
    'Houston Texans': 'HOU',
    'Indianapolis Colts': 'IND',
    'Jacksonville Jaguars': 'JAX',
    'Kansas City Chiefs': 'KC',
    'Las Vegas Raiders': 'LV',
    'Los Angeles Chargers': 'LAC',
    'Los Angeles Rams': 'LA',
    'Miami Dolphins': 'MIA',
    'Minnesota Vikings': 'MIN',
    'New England Patriots': 'NE',
    'New Orleans Saints': 'NO',
    'New York Giants': 'NYG',
    'New York Jets': 'NYJ',
    'Oakland Raiders': 'LV',
    'Philadelphia Eagles': 'PHI',
    'Pittsburgh Steelers': 'PIT',
    'San Francisco 49ers': 'SF',
    'Seattle Seahawks': 'SEA',
    'Tampa Bay Buccaneers': 'TB',
    'Tennessee Titans': 'TEN',
    'Washington Football Team': 'WAS',
    'Washington Commanders': 'WAS'
}

# Update the Winner/tie column with abbreviations
all_winners.loc[:,'Winner/tie'] = all_winners['Winner/tie'].map(team_name_to_abbreviation)

df_23_winner.loc[:,'Winner/tie'] = df_23_winner['Winner/tie'].map(team_name_to_abbreviation)

# Update the Loser/tie column with abbreviations
all_winners.loc[:,'Loser/tie'] = all_winners['Loser/tie'].map(team_name_to_abbreviation)

df_23_winner.loc[:,'Loser/tie'] = df_23_winner['Loser/tie'].map(team_name_to_abbreviation)

# date_format = '%mm-%dd-%YYYY'
df_train_final['GameDate'] = pd.to_datetime(df_train_final['GameDate'], format='mixed')
all_winners['Date'] = pd.to_datetime(all_winners['Date'], format='mixed')

C:\Users\cody1\AppData\Local\Temp\ipykernel_21304\1674186657.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_final['GameDate'] = pd.to_datetime(df_train_final['GameDate'], format='mixed')

- Now we need to add the data for the Winners column. We want to use the new dataframe to populate this information in the play-by-play data.

This one will be for the training data.

In [394]:
# print(df_train_final['GameDate'][0])
# print(all_winners['Date'][0])

# Merge with the original dataset based on 'Date' and 'GameDate'
merged_train_df = pd.merge(df_train_final.sort_values('GameDate'), 
                          all_winners.sort_values('Date'), 
                          left_on='GameDate', 
                          right_on='Date',
                          how = 'left')

print(merged_train_df)

# Populate the Winner column with the corresponding winner team
merged_train_df['Winner'] = merged_train_df.apply(lambda row: True if row['OffenseTeam'] == row['Winner/tie'] else False, axis=1)

merged_train_df['WinningTeam'] = merged_train_df['Winner/tie']

# Drop unnecessary columns from merged_df
merged_train_df.drop(['Loser/tie'], axis=1, inplace=True)

merged_train_df

           GameId   GameDate  Quarter  Minute  Second OffenseTeam DefenseTeam  \
0      2018090905 2018-09-09        3       8      15          NE         HOU
1      2018090905 2018-09-09        4       5      58          NE         HOU
2      2018090905 2018-09-09        4       5      27          NE         HOU
3      2018090905 2018-09-09        4       5      17         HOU          NE
4      2018090905 2018-09-09        4       5      13         HOU          NE
...           ...        ...      ...     ...     ...         ...         ...
39103  2022121801 2022-12-18        1       2      39         PHI         CHI
39104  2022121802 2022-12-18        1       1       1         HOU          KC
39105  2022121802 2022-12-18        1       1       1         HOU          KC
39106  2022121801 2022-12-18        4      15       0         PHI         CHI
39107  2022121801 2022-12-18        4      15       0         PHI         CHI

       Down  ToGo  YardLine  ...       Date    Time  Winner/tie Loser/tie  \
0         1    10        54  ... 2018-09-09  1:00PM          NE       HOU
1         3    13         9  ... 2018-09-09  1:00PM          NE       HOU
2         4     2        20  ... 2018-09-09  1:00PM          NE       HOU
3         1    10        34  ... 2018-09-09  1:00PM          NE       HOU
4         2    10        34  ... 2018-09-09  1:00PM          NE       HOU
...     ...   ...       ...  ...        ...     ...         ...       ...
39103     1    10        35  ... 2022-12-18  1:00PM          KC       HOU
39104     0     0        85  ... 2022-12-18  1:00PM         PHI       CHI
39105     0     0        85  ... 2022-12-18  1:00PM          KC       HOU
39106     1    10        29  ... 2022-12-18  1:00PM         PHI       CHI
39107     1    10        29  ... 2022-12-18  1:00PM          KC       HOU

      PtsW  PtsL  YdsW  TOW  YdsL TOL
0       27    20   389    3   325   2
1       27    20   389    3   325   2
2       27    20   389    3   325   2
3       27    20   389    3   325   2
4       27    20   389    3   325   2
...    ...   ...   ...  ...   ...  ..
39103   30    24   502    2   219   1
39104   25    20   421    3   248   1
39105   30    24   502    2   219   1
39106   25    20   421    3   248   1
39107   30    24   502    2   219   1

[39108 rows x 46 columns]

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,Time,Winner/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL,Winner,WinningTeam
0,2018090905,2018-09-09,3,8,15,NE,HOU,1,10,54,...,1:00PM,NE,27,20,389,3,325,2,True,NE
1,2018090905,2018-09-09,4,5,58,NE,HOU,3,13,9,...,1:00PM,NE,27,20,389,3,325,2,True,NE
2,2018090905,2018-09-09,4,5,27,NE,HOU,4,2,20,...,1:00PM,NE,27,20,389,3,325,2,True,NE
3,2018090905,2018-09-09,4,5,17,HOU,NE,1,10,34,...,1:00PM,NE,27,20,389,3,325,2,False,NE
4,2018090905,2018-09-09,4,5,13,HOU,NE,2,10,34,...,1:00PM,NE,27,20,389,3,325,2,False,NE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39103,2022121801,2022-12-18,1,2,39,PHI,CHI,1,10,35,...,1:00PM,KC,30,24,502,2,219,1,False,KC
39104,2022121802,2022-12-18,1,1,1,HOU,KC,0,0,85,...,1:00PM,PHI,25,20,421,3,248,1,False,PHI
39105,2022121802,2022-12-18,1,1,1,HOU,KC,0,0,85,...,1:00PM,KC,30,24,502,2,219,1,False,KC
39106,2022121801,2022-12-18,4,15,0,PHI,CHI,1,10,29,...,1:00PM,PHI,25,20,421,3,248,1,True,PHI
39107,2022121801,2022-12-18,4,15,0,PHI,CHI,1,10,29,...,1:00PM,KC,30,24,502,2,219,1,False,KC

This one will be for the test dataset

In [395]:
# Merge with the original dataset based on 'Date' and 'GameDate'
merged_test_df = pd.merge(df_test_final.sort_values('GameDate'), 
                          df_23_winner.sort_values('Date'), 
                          left_on='GameDate', 
                          right_on='Date',
                          how = 'left')

# Populate the "Winner" column with the corresponding winner team
merged_test_df['Winner'] = merged_test_df.apply(lambda row: True if row['OffenseTeam'] == row['Winner/tie'] else False, axis=1)

merged_test_df['WinningTeam'] = merged_test_df['Winner/tie']

# Drop unnecessary columns from merged_df
merged_test_df.drop(['Loser/tie'], axis=1, inplace=True)

merged_test_df.head()

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,Time,Winner/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL,Winner,WinningTeam
0,2023090700,2023-09-07,3,12,54,KC,DET,0,0,100,...,8:20PM,DET,21,20,368,1,316,1,False,DET
1,2023090700,2023-09-07,1,12,56,KC,DET,3,2,21,...,8:20PM,DET,21,20,368,1,316,1,False,DET
2,2023090700,2023-09-07,1,12,20,KC,DET,1,10,31,...,8:20PM,DET,21,20,368,1,316,1,False,DET
3,2023090700,2023-09-07,1,11,44,KC,DET,2,5,36,...,8:20PM,DET,21,20,368,1,316,1,False,DET
4,2023090700,2023-09-07,1,11,35,KC,DET,3,5,36,...,8:20PM,DET,21,20,368,1,316,1,False,DET

In [396]:
merged_train_df.to_csv("../datasets/train.csv")
merged_test_df.to_csv("../datasets/test.csv")

In [397]:
df_test_test = pd.read_csv("../datasets/train.csv")
df_test_test['Winner/tie']

0         NE
1         NE
2         NE
3         NE
4         NE
        ...
39103     KC
39104    PHI
39105     KC
39106    PHI
39107     KC
Name: Winner/tie, Length: 39108, dtype: object