In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [71]:
df1 = pd.read_csv('../datasets/pbp-2023.csv')
df2 = pd.read_csv('../datasets/pbp-2022.csv')
df3 = pd.read_csv('../datasets/pbp-2021.csv')
df4 = pd.read_csv('../datasets/pbp-2020.csv')
df5 = pd.read_csv('../datasets/pbp-2019.csv')
df6 = pd.read_csv('../datasets/pbp-2018.csv')

In [72]:
df1 = df1[(df1['OffenseTeam']  == 'KC') | (df1['DefenseTeam']  == 'KC') | (df1['OffenseTeam']  == 'SF') | (df1['DefenseTeam']  == 'SF')]
df2 = df2[(df2['OffenseTeam']  == 'PHI') | (df2['DefenseTeam']  == 'PHI') | (df2['OffenseTeam']  == 'KC') | (df2['DefenseTeam']  == 'KC')]
df3 = df3[(df3['OffenseTeam']  == 'LA') | (df3['DefenseTeam']  == 'LA') | (df3['OffenseTeam']  == 'CIN') | (df3['DefenseTeam']  == 'CIN')]
df4 = df4[(df4['OffenseTeam']  == 'KC') | (df4['DefenseTeam']  == 'KC') | (df4['OffenseTeam']  == 'TB') | (df4['DefenseTeam']  == 'TB')]
df5 = df5[(df5['OffenseTeam']  == 'KC') | (df5['DefenseTeam']  == 'KC') | (df5['OffenseTeam']  == 'SF') | (df5['DefenseTeam']  == 'SF')]
df6 = df6[(df6['OffenseTeam']  == 'NE') | (df6['DefenseTeam']  == 'NE') | (df6['OffenseTeam']  == 'LA') | (df6['DefenseTeam']  == 'LA')]

In [73]:
df_train = pd.concat([df2,df3, df4, df5, df6], ignore_index=True)
df_train = df_train.drop(['Unnamed: 10','Unnamed: 12','Unnamed: 16','Unnamed: 17', 'Description','NextScore','TeamWin','Challenger','IsMeasurement','YardLineDirection','YardLineFixed'], axis = 1)

df_test = df1.drop(['Unnamed: 10','Unnamed: 12','Unnamed: 16','Unnamed: 17', 'Description','NextScore','TeamWin','Challenger','IsMeasurement','YardLineDirection','YardLineFixed'], axis = 1)

In [74]:
df_train_final = df_train[df_train[['OffenseTeam', 'DefenseTeam']].notna().all(axis=1)]
df_train_final

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsFumble,IsPenalty,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2022091110,2022-09-11,1,11,11,KC,ARI,2,7,73,...,0,0,0,0,CENTER,0,NaN,0,NaN,0
1,2022091110,2022-09-11,1,10,28,KC,ARI,3,7,73,...,0,0,0,0,NaN,0,NaN,0,NaN,0
2,2022091110,2022-09-11,1,9,47,KC,ARI,1,9,91,...,0,0,0,0,NaN,0,NaN,0,NaN,0
3,2022091110,2022-09-11,1,3,24,KC,ARI,1,3,97,...,0,0,0,0,NaN,0,NaN,0,NaN,0
4,2022091110,2022-09-11,1,3,20,KC,ARI,0,0,85,...,0,0,0,0,NaN,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25064,2018101412,2018-10-14,3,6,14,KC,NE,4,1,46,...,0,0,0,0,RIGHT TACKLE,0,NaN,0,NaN,0
25070,2018093006,2018-09-30,1,5,28,NE,MIA,0,0,35,...,0,0,0,0,NaN,0,NaN,0,NaN,0
25073,2018092313,2018-09-23,1,9,18,DET,NE,1,10,52,...,0,0,0,0,NaN,0,NaN,0,NaN,0
25074,2018091612,2018-09-16,3,6,0,JAX,NE,2,4,36,...,1,0,0,0,NaN,0,NaN,0,NaN,0
25075,2018091609,2018-09-16,2,14,37,LA,ARI,2,1,89,...,0,0,0,0,RIGHT END,0,NaN,0,NaN,0

- Add the winners for each game into the main dataframe as a new column

In [75]:
df_18 = pd.read_csv("..\datasets\win-loss-score-2018-season.csv")
df_19 = pd.read_csv("..\datasets\win-loss-score-2019-season.csv")
df_20 = pd.read_csv("..\datasets\win-loss-score-2020-season.csv")
df_21 = pd.read_csv("..\datasets\win-loss-score-2021-season.csv")
df_22 = pd.read_csv("..\datasets\win-loss-score-2022-season.csv")
df_23 = pd.read_csv("..\datasets\win-loss-score-2023-season.csv")

- Drop the unneeded columns from the dataframe

In [76]:
df_18.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_19.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_20.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_21.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_22.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_23.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)

- Pull out all of the games where the superbowl teams won

In [77]:
df_18 = df_18[(df_18['Winner/tie']  == 'New England Patriots') | (df_18['Loser/tie']  == 'New England Patriots') | (df_18['Winner/tie']  == 'Los Angeles Rams') | (df_18['Loser/tie']  == 'Los Angeles Rams')]

df_19 = df_19[(df_19['Winner/tie']  == 'Kansas City Chiefs') | (df_19['Loser/tie']  == 'Kansas City Chiefs') | (df_19['Winner/tie']  == 'San Francisco 49ers') | (df_19['Loser/tie']  == 'San Francisco 49ers')]

df_20 = df_20[(df_20['Winner/tie']  == 'Kansas City Chiefs') | (df_20['Loser/tie']  == 'Kansas City Chiefs') | (df_20['Winner/tie']  == 'Tampa Bay Buccaneers') | (df_20['Loser/tie']  == 'Tampa Bay Buccaneers')]

df_21 = df_21[(df_21['Winner/tie']  == 'Los Angeles Rams') | (df_21['Loser/tie']  == 'Los Angeles Rams') | (df_21['Winner/tie']  == 'Cincinnati Bengals') | (df_21['Loser/tie']  == 'Cincinnati Bengals')]

df_22 = df_22[(df_22['Winner/tie']  == 'Philadelphia Eagles') | (df_22['Loser/tie']  == 'Philadelphia Eagles') | (df_22['Winner/tie']  == 'Kansas City Chiefs') | (df_22['Loser/tie']  == 'Kansas City Chiefs')]

df_23_winner = df_23[(df_23['Winner/tie']  == 'San Francisco 49ers') | (df_23['Loser/tie']  == 'San Francisco 49ers') | (df_23['Winner/tie']  == 'Kansas City Chiefs') | (df_23['Loser/tie']  == 'Kansas City Chiefs')]

all_winners = pd.concat([df_18, df_19, df_20, df_21, df_22], ignore_index=True)

all_winners

,Week,Day,Date,Time,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL
0,1,Sun,2018-09-09,1:00PM,New England Patriots,Houston Texans,27,20,389,3,325,2
1,1,Mon,2018-09-10,10:20PM,Los Angeles Rams,Oakland Raiders,33,13,365,0,395,3
2,2,Sun,2018-09-16,4:05PM,Los Angeles Rams,Arizona Cardinals,34,0,432,1,137,1
3,2,Sun,2018-09-16,4:25PM,Jacksonville Jaguars,New England Patriots,31,20,480,2,302,1
4,3,Sun,2018-09-23,4:05PM,Los Angeles Rams,Los Angeles Chargers,35,23,521,2,356,2
...,...,...,...,...,...,...,...,...,...,...,...,...
158,16,Sat,2022-12-24,4:25PM,Dallas Cowboys,Philadelphia Eagles,40,34,419,1,442,4
159,17,Sun,2023-01-01,1:00PM,Kansas City Chiefs,Denver Broncos,27,24,374,2,307,2
160,17,Sun,2023-01-01,1:00PM,New Orleans Saints,Philadelphia Eagles,20,10,313,1,313,1
161,18,Sat,2023-01-07,4:30PM,Kansas City Chiefs,Las Vegas Raiders,31,13,349,0,279,2
162,18,Sun,2023-01-08,4:25PM,Philadelphia Eagles,New York Giants,22,16,342,1,284,0

- To make the update on the winner column easier and workable, we need to map the values of each team to their abbreviations.

In [78]:
# Dictionary mapping full team names to abbreviations
team_name_to_abbreviation = {
    'Arizona Cardinals': 'ARI',
    'Atlanta Falcons': 'ATL',
    'Baltimore Ravens': 'BAL',
    'Buffalo Bills': 'BUF',
    'Carolina Panthers': 'CAR',
    'Chicago Bears': 'CHI',
    'Cincinnati Bengals': 'CIN',
    'Cleveland Browns': 'CLE',
    'Dallas Cowboys': 'DAL',
    'Denver Broncos': 'DEN',
    'Detroit Lions': 'DET',
    'Green Bay Packers': 'GB',
    'Houston Texans': 'HOU',
    'Indianapolis Colts': 'IND',
    'Jacksonville Jaguars': 'JAX',
    'Kansas City Chiefs': 'KC',
    'Las Vegas Raiders': 'LV',
    'Los Angeles Chargers': 'LAC',
    'Los Angeles Rams': 'LAR',
    'Miami Dolphins': 'MIA',
    'Minnesota Vikings': 'MIN',
    'New England Patriots': 'NE',
    'New Orleans Saints': 'NO',
    'New York Giants': 'NYG',
    'New York Jets': 'NYJ',
    'Philadelphia Eagles': 'PHI',
    'Pittsburgh Steelers': 'PIT',
    'San Francisco 49ers': 'SF',
    'Seattle Seahawks': 'SEA',
    'Tampa Bay Buccaneers': 'TB',
    'Tennessee Titans': 'TEN',
    'Washington Football Team': 'WAS'
}

# Update the Winner/tie column with abbreviations
all_winners['Winner/tie'] = all_winners['Winner/tie'].map(team_name_to_abbreviation)

# Update the Loser/tie column with abbreviations
all_winners['Loser/tie'] = all_winners['Loser/tie'].map(team_name_to_abbreviation)

- Now we need to add the data for the Winners column. We want to use the new dataframe to populate this information in the play-by-play data.

In [81]:
# Merge with the original dataset based on 'Date' and 'GameDate'
merged_df = pd.merge(df_train_final.sort_values('GameDate'), 
                          all_winners.sort_values('Date'), 
                          left_on='GameDate', 
                          right_on='Date',
                          how = 'left')

# Populate the "Winner" column with the corresponding winner team
merged_df['Winner'] = merged_df.apply(lambda row: True if row['OffenseTeam'] == row['Winner/tie'] else False, axis=1)

# Drop unnecessary columns from merged_df
merged_df.drop(['Winner/tie', 'Loser/tie'], axis=1, inplace=True)

In [83]:
merged_df[merged_df['Winner'] == False]

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,Day,Date,Time,PtsW,PtsL,YdsW,TOW,YdsL,TOL,Winner
0,2021010310,1/3/2021,3,8,49,ATL,TB,0,0,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,2021010310,1/3/2021,3,7,13,ATL,TB,1,10,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,2021010310,1/3/2021,3,8,49,TB,ATL,1,10,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,2021010306,1/3/2021,1,11,45,KC,LAC,1,8,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,2021010310,1/3/2021,1,15,0,ATL,TB,0,0,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37091,2020092800,9/28/2020,2,11,6,BAL,KC,1,10,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
37092,2020092800,9/28/2020,2,10,27,BAL,KC,2,6,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
37093,2020092800,9/28/2020,2,10,23,BAL,KC,3,6,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
37094,2020092800,9/28/2020,1,10,52,BAL,KC,1,10,85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
37095,2020092800,9/28/2020,4,12,27,KC,BAL,2,10,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False