## This notebook has been created to work with the win-loss data from https://www.pro-football-reference.com/years/2022/games.htm

### Using this data, we will be identifying the winner per game for the entire season that the games occured - specifically targeting the super bowl teams.

In [26]:
import pandas as pd
import sklearn as sk

- load in all of the datasets into separate dataframes for filtering on the superbowl participants.

In [27]:
df_18 = pd.read_csv("..\datasets\win-loss-score-2018-season.csv")
df_19 = pd.read_csv("..\datasets\win-loss-score-2019-season.csv")
df_20 = pd.read_csv("..\datasets\win-loss-score-2020-season.csv")
df_21 = pd.read_csv("..\datasets\win-loss-score-2021-season.csv")
df_22 = pd.read_csv("..\datasets\win-loss-score-2022-season.csv")
df_23 = pd.read_csv("..\datasets\win-loss-score-2023-season.csv")
df_23.columns

Index(['Week', 'Day', 'Date', 'Time', 'Winner/tie', 'Unnamed: 5', 'Loser/tie',
       'Unnamed: 7', 'PtsW', 'PtsL', 'YdsW', 'TOW', 'YdsL', 'TOL'],
      dtype='object')

- Drop the un-needed columns

In [28]:
df_18.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_19.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_20.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_21.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_22.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_23.drop(columns=['Unnamed: 5', 'Unnamed: 7'], inplace=True)
df_23['Winner/tie'].unique()

array(['Detroit Lions', 'Atlanta Falcons', 'Cleveland Browns',
       'Jacksonville Jaguars', 'Washington Commanders',
       'Baltimore Ravens', 'Tampa Bay Buccaneers', 'New Orleans Saints',
       'San Francisco 49ers', 'Green Bay Packers', 'Las Vegas Raiders',
       'Miami Dolphins', 'Philadelphia Eagles', 'Los Angeles Rams',
       'Dallas Cowboys', 'New York Jets', 'Buffalo Bills',
       'Indianapolis Colts', 'Seattle Seahawks', 'Kansas City Chiefs',
       'Tennessee Titans', 'New York Giants', 'Pittsburgh Steelers',
       'Houston Texans', 'Los Angeles Chargers', 'New England Patriots',
       'Arizona Cardinals', 'Cincinnati Bengals', 'Minnesota Vikings',
       'Denver Broncos', 'Chicago Bears', 'Carolina Panthers'],
      dtype=object)

 - Now we need to filter the datasets to look at all of the games that have the superbowl teams in them, and determine the games where they won.

In [31]:
df_18 = df_18[(df_18['Winner/tie']  == 'New England Patriots') | (df_18['Loser/tie']  == 'New England Patriots') | (df_18['Winner/tie']  == 'Los Angeles Rams') | (df_18['Loser/tie']  == 'Los Angeles Rams')]

df_19 = df_19[(df_19['Winner/tie']  == 'Kansas City Chiefs') | (df_19['Loser/tie']  == 'Kansas City Chiefs') | (df_19['Winner/tie']  == 'San Francisco 49ers') | (df_19['Loser/tie']  == 'San Francisco 49ers')]

df_20 = df_20[(df_20['Winner/tie']  == 'Kansas City Chiefs') | (df_20['Loser/tie']  == 'Kansas City Chiefs') | (df_20['Winner/tie']  == 'Tampa Bay Buccaneers') | (df_20['Loser/tie']  == 'Tampa Bay Buccaneers')]

df_21 = df_21[(df_21['Winner/tie']  == 'Los Angeles Rams') | (df_21['Loser/tie']  == 'Los Angeles Rams') | (df_21['Winner/tie']  == 'Cincinnati Bengals') | (df_21['Loser/tie']  == 'Cincinnati Bengals')]

df_22 = df_22[(df_22['Winner/tie']  == 'Philadelphia Eagles') | (df_22['Loser/tie']  == 'Philadelphia Eagles') | (df_22['Winner/tie']  == 'Kansas City Chiefs') | (df_22['Loser/tie']  == 'Kansas City Chiefs')]

df_23 = df_23[(df_23['Winner/tie']  == 'San Francisco 49ers') | (df_23['Loser/tie']  == 'San Francisco 49ers') | (df_23['Winner/tie']  == 'Kansas City Chiefs') | (df_23['Loser/tie']  == 'Kansas City Chiefs')]

all_winners = pd.concat([df_18, df_19, df_20, df_21, df_22, df_23], ignore_index=True)

all_winners

,Week,Day,Date,Time,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL
0,1,Sun,2018-09-09,1:00PM,New England Patriots,Houston Texans,27,20,389,3,325,2
1,1,Mon,2018-09-10,10:20PM,Los Angeles Rams,Oakland Raiders,33,13,365,0,395,3
2,2,Sun,2018-09-16,4:05PM,Los Angeles Rams,Arizona Cardinals,34,0,432,1,137,1
3,2,Sun,2018-09-16,4:25PM,Jacksonville Jaguars,New England Patriots,31,20,480,2,302,1
4,3,Sun,2018-09-23,4:05PM,Los Angeles Rams,Los Angeles Chargers,35,23,521,2,356,2
...,...,...,...,...,...,...,...,...,...,...,...,...
176,16,Mon,2023-12-25,8:15PM,Baltimore Ravens,San Francisco 49ers,33,19,343,0,429,5
177,17,Sun,2023-12-31,1:00PM,San Francisco 49ers,Washington Commanders,27,10,408,0,225,2
178,17,Sun,2023-12-31,4:25PM,Kansas City Chiefs,Cincinnati Bengals,25,17,373,1,263,0
179,18,Sun,2024-01-07,4:25PM,Kansas City Chiefs,Los Angeles Chargers,13,12,268,1,353,1
180,18,Sun,2024-01-07,4:25PM,Los Angeles Rams,San Francisco 49ers,21,20,258,1,300,1