In [263]:
import re

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('C:/Manu/Hack/GT-Hacklytics/datasets/nfl_team_stats_2002-2022.csv')
sb_champs = pd.read_csv('C:/Manu/Hack/GT-Hacklytics/datasets/List_of_Super_Bowl_champions_2.csv')
df.head()

,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,passing_yards_away,...,redzone_away,redzone_home,drives_away,drives_home,def_st_td_away,def_st_td_home,possession_away,possession_home,score_away,score_home
0,2002-09-05,49ers,Giants,13,21,4-12,9-16,0-0,0-1,166,...,0-8,0-6,13,15,0,0,27:32,32:28,16,13
1,2002-09-08,Jets,Bills,18,26,2-8,7-17,0-0,2-2,193,...,0-9,0-8,17,18,2,0,21:06,39:08,37,31
2,2002-09-08,Vikings,Bears,19,20,5-13,7-13,0-0,0-0,228,...,0-7,0-6,17,17,0,0,31:31,28:29,23,27
3,2002-09-08,Chargers,Bengals,27,13,6-10,4-11,0-0,0-0,160,...,0-7,0-5,11,15,0,0,37:48,22:12,34,6
4,2002-09-08,Chiefs,Browns,24,24,5-11,4-11,0-0,0-0,276,...,0-10,0-10,20,17,0,0,30:16,29:44,40,39

## Converts the Superbowl participants table

Here we drop the unused columns from the Superbowl winners and runnerups table above('List_of_Super_Bowl_champions_2.csv'). We also convert the date/season column to just a date and change the datatype to datetime.

In [269]:
from datetime import datetime
import re

new_date = sb_champs['Date/Season'].copy()
dates = []
for str in new_date:
    date = re.findall(r"([A-Z]\w+ [0-9]{1,2}, [0-9]{4})", str)
    dates.append(date[0])
    
    
new_sb_champs = sb_champs.copy()


new_sb_champs['Date'] = dates
mod_new_sb_champs = new_sb_champs.drop(['Game', 'Date/Season', 'Score'], axis=1)
mod_new_sb_champs['Date'] = dates
mod_new_sb_champs['Date'] = mod_new_sb_champs['Date'].astype('datetime64[ns]')
mod_new_sb_champs['Winning team'][4]

'Colts'

In [274]:
new_dates = df['date'].copy()
df['date'] = df['date'].astype('datetime64[ns]')

AttributeError: 'int' object has no attribute 'dtype'

In [277]:
import datetime

for i in range(len(mod_new_sb_champs)):
    for j in range(len(df)):
        if (mod_new_sb_champs['Date'][i] - datetime.timedelta(days=150)) < df['date'][j]:
            if mod_new_sb_champs['Winning team'][i] == df['away'][j]:
                awaywinnerstats = df[['away', 'first_downs_away', 'third_downs_away', 'fourth_downs_away', 'passing_yards_away', 'rushing_yards_away', 'total_yards_away', 'comp_att_away', 'sacks_away', 'rushing_attempts_away','fumbles_away', 'int_away', 'turnovers_away', 'penalties_away', 'redzone_away', 'drives_away', 'def_st_td_away', 'possession_away', 'score_away']]
            if mod_new_sb_champs['Winning team'][i] == df['home'][j]:
                homewinnerstats = df[['home', 'first_downs_home', 'third_downs_home', 'fourth_downs_home', 'passing_yards_home', 'rushing_yards_home', 'total_yards_home', 'comp_att_home', 'sacks_home', 'rushing_attempts_home','fumbles_home', 'int_home', 'turnovers_home', 'penalties_home', 'redzone_home', 'drives_home', 'def_st_td_home', 'possession_home', 'score_home']]
            if mod_new_sb_champs['Losing team'][i] == df['away'][j]:
                awayrunnerupstats = df[['away', 'first_downs_away', 'third_downs_away', 'fourth_downs_away', 'passing_yards_away', 'rushing_yards_away', 'total_yards_away', 'comp_att_away', 'sacks_away', 'rushing_attempts_away','fumbles_away', 'int_away', 'turnovers_away', 'penalties_away', 'redzone_away', 'drives_away', 'def_st_td_away', 'possession_away', 'score_away']]
            if mod_new_sb_champs['Losing team'][i] == df['home'][j]:
                homerunnerupstats = df[['home', 'first_downs_home', 'third_downs_home', 'fourth_downs_home', 'passing_yards_home', 'rushing_yards_home', 'total_yards_home', 'comp_att_home', 'sacks_home', 'rushing_attempts_home','fumbles_home', 'int_home', 'turnovers_home', 'penalties_home', 'redzone_home', 'drives_home', 'def_st_td_home', 'possession_home', 'score_home']]

In [278]:
homewinnerstats

,home,first_downs_home,third_downs_home,fourth_downs_home,passing_yards_home,rushing_yards_home,total_yards_home,comp_att_home,sacks_home,rushing_attempts_home,fumbles_home,int_home,turnovers_home,penalties_home,redzone_home,drives_home,def_st_td_home,possession_home,score_home
0,Giants,21,9-16,0-1,318,43,361,28-45,3-24,22,0,3,3,10-80,0-6,15,0,32:28,13
1,Bills,26,7-17,2-2,242,142,384,26-39,4-29,32,1,2,3,10-82,0-8,18,0,39:08,31
2,Bears,20,7-13,0-0,288,80,368,20-33,1-9,26,1,1,2,4-33,0-6,17,0,28:29,27
3,Bengals,13,4-11,0-0,167,36,203,18-31,4-31,13,0,1,1,9-57,0-5,15,0,22:12,6
4,Browns,24,4-11,0-0,352,59,411,28-40,1-7,20,1,0,1,4-38,0-10,17,0,29:44,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5636,Bills,19,5-12,1-2,261,64,325,25-42,1-3,19,0,1,1,8-60,1-3,8,0,26:06,10
5637,49ers,21,7-14,0-0,199,113,312,19-29,2-15,32,1,0,1,3-30,1-3,9,0,32:53,19
5638,Eagles,25,5-15,3-3,121,148,269,15-25,1-0,44,0,0,0,4-34,4-6,10,0,37:26,31
5639,Chiefs,23,7-14,1-1,315,42,357,29-43,3-11,20,1,0,1,4-55,2-3,10,0,32:51,23
5640,Eagles,25,11-18,2-2,302,115,417,27-38,2-2,32,1,0,1,6-33,3-5,10,0,35:47,35