In [2]:
import pandas as pd
import numpy as np

In [5]:
df1 = pd.read_csv('../datasets/pbp-2023.csv')
df1

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2023121101,2023-12-11,3,1,28,NYG,GB,0,0,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
1,2023121101,2023-12-11,3,1,35,NYG,GB,3,7,92,...,0,0,NaN,8,OPP,0,NaN,0,NaN,0
2,2023121101,2023-12-11,3,2,19,NYG,GB,2,11,88,...,0,0,RIGHT GUARD,12,OPP,0,NaN,0,NaN,0
3,2023121101,2023-12-11,3,2,56,NYG,GB,1,10,89,...,0,0,CENTER,11,OPP,0,NaN,0,NaN,0
4,2023121101,2023-12-11,3,3,43,NYG,GB,1,10,64,...,0,0,NaN,36,OPP,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39467,2023091000,2023-09-10,2,14,1,ATL,CAR,0,0,100,...,0,0,NaN,0,OPP,0,NaN,0,NaN,0
39468,2023091000,2023-09-10,2,14,52,CAR,ATL,0,0,100,...,0,0,NaN,0,OPP,0,NaN,0,NaN,0
39469,2023091002,2023-09-10,4,9,11,CLE,CIN,0,0,100,...,0,0,NaN,0,OPP,0,NaN,0,NaN,0
39470,2023091000,2023-09-10,1,4,13,ATL,CAR,2,6,57,...,0,0,NaN,43,OPP,0,NaN,0,NaN,0
39471,2023090700,2023-09-07,3,12,54,KC,DET,0,0,100,...,0,0,NaN,0,OPP,0,NaN,0,NaN,0

In [29]:
df2 = df1[(df1['OffenseTeam']  == 'KC') | (df1['DefenseTeam']  == 'KC')]
df_KC = df2.sort_values(by=['GameDate','Quarter','Minute','Second'])
df_KC

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
21046,2023090700,2023-09-07,1,0,0,KC,DET,0,0,100,...,0,0,NaN,0,OPP,0,NaN,0,NaN,0
21047,2023090700,2023-09-07,1,0,13,KC,DET,3,6,100,...,0,0,NaN,0,OPP,0,NaN,0,NaN,0
21048,2023090700,2023-09-07,1,0,52,KC,DET,2,6,100,...,0,0,LEFT END,0,OPP,0,NaN,0,NaN,0
21527,2023090700,2023-09-07,1,1,29,KC,DET,1,10,46,...,0,0,LEFT END,46,OWN,0,NaN,0,NaN,0
21232,2023090700,2023-09-07,1,2,6,KC,DET,3,8,27,...,0,0,NaN,27,OWN,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2023121009,2023-12-10,4,12,53,KC,BUF,1,10,68,...,0,0,NaN,32,OPP,0,NaN,0,NaN,0
106,2023121009,2023-12-10,4,13,34,KC,BUF,2,6,60,...,0,0,NaN,40,OPP,0,NaN,0,NaN,0
107,2023121009,2023-12-10,4,14,14,KC,BUF,1,10,56,...,0,0,RIGHT GUARD,44,OPP,0,NaN,0,NaN,0
38740,2023121009,2023-12-10,4,14,46,KC,BUF,1,10,41,...,0,0,NaN,41,OWN,0,NaN,0,NaN,0
38739,2023121009,2023-12-10,4,15,0,BUF,KC,4,18,44,...,0,0,NaN,44,OWN,0,NaN,0,NaN,0

In [28]:
df3 = df1[(df1['OffenseTeam']  == 'SF') | (df1['DefenseTeam']  == 'SF')]
df_SF = df3.sort_values(by=['GameDate','Quarter','Minute','Second'])
df_SF

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
39453,2023091006,2023-09-10,1,0,0,SF,PIT,0,0,100,...,0,0,NaN,0,OPP,0,NaN,0,NaN,0
21066,2023091006,2023-09-10,1,0,6,SF,PIT,1,10,66,...,0,0,NaN,34,OPP,1,SF,1,FALSE START,5
21067,2023091006,2023-09-10,1,0,37,SF,PIT,2,9,56,...,0,0,NaN,44,OPP,0,NaN,0,NaN,0
21068,2023091006,2023-09-10,1,1,17,SF,PIT,1,10,55,...,0,0,RIGHT TACKLE,45,OPP,0,NaN,0,NaN,0
21509,2023091006,2023-09-10,1,1,57,SF,PIT,2,10,44,...,0,0,CENTER,44,OWN,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,2023121008,2023-12-10,4,14,8,SF,SEA,0,0,100,...,0,0,NaN,0,OPP,0,NaN,0,NaN,0
422,2023121008,2023-12-10,4,14,8,SF,SEA,0,0,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
38295,2023121008,2023-12-10,4,14,8,SEA,SF,1,10,25,...,0,0,NaN,25,OWN,0,NaN,0,NaN,0
423,2023121008,2023-12-10,4,14,16,SF,SEA,2,9,56,...,0,0,NaN,44,OPP,0,SEA,0,DEFENSIVE HOLDING,0
424,2023121008,2023-12-10,4,15,0,SF,SEA,1,10,55,...,0,0,LEFT END,45,OPP,0,NaN,0,NaN,0

In [33]:
df_SF['PlayType'].value_counts()

PlayType
PASS                    903
RUSH                    591
KICK OFF                132
PUNT                     96
TIMEOUT                  92
SACK                     68
EXTRA POINT              64
FIELD GOAL               45
SCRAMBLE                 44
NO PLAY                  36
QB KNEEL                 25
CLOCK STOP                5
TWO-POINT CONVERSION      4
FUMBLES                   3
EXCEPTION                 1
Name: count, dtype: int64

In [78]:
df_SF2 = df_SF[df_SF[['PlayType','Yards']].notna().any(axis=1)]
df_SF2 = df_SF2[['PlayType','Yards']]
df_SF2

          PlayType  Yards
39453          NaN      0
21066      NO PLAY      0
21067         PASS     10
21068         RUSH      1
21509         RUSH     11
...            ...    ...
421            NaN      0
422    EXTRA POINT      0
38295         PASS      0
423           PASS     44
424           RUSH      1

[2376 rows x 2 columns]

In [79]:
df_SF2[(df_SF2['PlayType'] == 'PASS') | (df_SF2['PlayType'] == 'PASS')]

      PlayType  Yards
21067     PASS     10
21508     PASS      0
21506     PASS      7
21504     PASS      0
21502     PASS      2
...        ...    ...
38301     PASS      0
38299     PASS     24
38297     PASS     30
38295     PASS      0
423       PASS     44

[903 rows x 2 columns]

In [76]:
df_SF2_vc.groupby('PlayType').get

15.507352941176471

In [37]:
df_SF2_vc[df_SF2_vc['PlayType'] == 'PASS']

KeyError: 'PlayType'